  waha-{session}:
    image: devlikeapro/waha-plus:gows
    container_name: waha-{session}
    restart: always
    dns:
      - 1.1.1.1
      - 8.8.8.8
    logging:
      driver: 'json-file'
      options:
        max-size: '100m'
        max-file: '10'
    ports:
      - "{port}:3000"
    env_file:
      - .env
    volumes:
      - /waha-core/sessions/{session}:/app/.sessions
    networks:
      - waha_network